*,
*::after
*::before {
    box-sizing: border-box;
} 

body {
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #333E48;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.title {
    font-weight: 700;
    font-size: 1.5rem;
}

.contentBlock {
    background-color: #f7f7f7;
    padding: 2.3rem 7rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.courseTitle {
    font-weight: 700;
    font-size:2.3rem;
    line-height: 3rem;
}

.courseCardContent {
    display:flex;
    justify-content: space-between;
    align-items: center;
}